<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513551680950-5k17ct4pjlid6qhnee0pd4653kpaftdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513551680950-5k17ct4pjlid6qhnee0pd4653kpaftdm</string>
	<key>API_KEY</key>
	<string>AIzaSyBh3OWZG4Rpiq7-zCej4Fbk8Bigu6QO5YE</string>
	<key>GCM_SENDER_ID</key>
	<string>513551680950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.boongung</string>
	<key>PROJECT_ID</key>
	<string>ungtouring</string>
	<key>STORAGE_BUCKET</key>
	<string>ungtouring.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513551680950:ios:60681b7324d7813cc9ed17</string>
	<key>DATABASE_URL</key>
	<string>https://ungtouring.firebaseio.com</string>
</dict>
</plist>